/* Стилі для поля вводу */
input {
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
  padding: 8px;
}

input:focus {
  outline: none;
  border-color: green;
}

input.green {
  border-color: green;
}

input.red {
  border-color: red;
}

/* Стилі для span з поточною ціною */
.price {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: #666;
}

.price-value {
  font-weight: bold;
  color: green;
}

.price-remove {
  cursor: pointer;
  margin-left: 8px;
  color: red;
}

/* Стилі для повідомлення про некоректне значення */
.error {
  margin-top: 8px;
  font-size: 14px;
  color: red;
}
